:root {
  box-sizing: border-box;
  --shadow: 0 .1em .5em -.1em #0002;
}

*, *::after, *::before {
  box-sizing: inherit;
}

html {
  padding-bottom: 2rem;
  position: relative;
  min-height: 100vh;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

button, input {
  border-width: 1px;
  border-style: solid;
  border-color: cadetblue;
  appearance: none;
  font: inherit;
  padding: 0.25em .5em;
  margin: 0 .5em .25em 0;
}

button {
  box-shadow: var(--shadow);
}

input:not([type='checkbox']):not([type='radio']):not([type='button']) {
  box-shadow: inset var(--shadow);
}

button:focus,
input:focus {
  outline: 1px dashed cadetblue;
}

button:focus {
  outline-offset: 1px;
}

input:focus {
  outline-offset: -3px;
}

.notes {
  margin: 0 auto;
  max-width: 30em;
}

.notes__title {
  font-weight: 300;
}

.notes__title {
  font-size: 1.333em;
}

.notes__list {
  padding: 0;
  list-style: none;
}

.note,
.notification {
  box-shadow: 0 .1em .5em -.1em #0002;
  margin-bottom: 0.75em;
  padding: 0.5em;
}

.note {
  background: lemonchiffon;
  display: flex;
  flex-flow: row nowrap;
}

.note--important {
  background: gold;
}

.note__content {
  flex: 1 1 auto;
  margin: 0.25em 0.25em .5em 0.25em;
}

.note__button {
  background: gold;
  border: 1px solid;
  border-radius: 50%;
  color: cadetblue;
  font-size: inherit;
  flex: 0 0 2em;
  height: 2em;
  margin: 0;
}

.note--important .note__button {
  background: lemonchiffon;
}

.notification {
  background-clip: content-box;
  border: 2px dashed;
  display: flex;
  justify-content: center;
}

.notification--error {
  background-color: salmon;
  border-color: salmon;
}

.notification--confirm {
  background-color: yellowgreen;
  border-color: yellowgreen;
}
